@use "../../variables.scss" as variables;

.container {
  @include variables.crt-overlay;

  position: fixed;
  pointer-events: none;

  .content {
    width: 100dvw;
    height: 100dvh;
    inset: 2rem;

    .progressions {
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
