@use "../../variables.scss" as variables;

.label {
  margin-bottom: 0.75rem;
}

.codeInput {
  font-size: 2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 15rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border: 3px solid variables.$accent-color;
}

.buttons {
  display: flex;
  gap: 2rem;
  padding-top: 0.75rem;
  padding-right: 0.25rem;
  justify-content: flex-end;

  .button {
    font-size: 1.2rem;
    color: variables.$text-secondary-color;
    background: transparent;
    border: none;

    &.join {
      color: variables.$accent-color;
    }
  }
}
